<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

    <title>Title</title>
    <style>
      .title{
             background: linear-gradient(to bottom, #52E5E7 15%, #130CB7 100%);
             background: -webkit-linear-gradient( to bottom,#52E5E7 15%, #130CB7 100%);
             background-clip: text;
             -webkit-background-clip: text;
             color: black;

        }
    </style>
</head>
<body>
<div style="padding:10% 3%; min-height:100vh;   display: flex; background: linear-gradient(15deg,#794095,#0d1430); background-size:cover">
    <div class="container" style=" border-radius: 10px; width:100%; background: rgba(255, 255, 255, .5); backdrop-filter: blur(10px) ">
        <h1 class="text-center title test ">
            <small>create user</small>
        </h1>
        <div class="col-lg-8 m-auto d-block"></div>
        <form th:action="@{/practice/user/save}" method="post" th:object="${user}">
            <div class="form-group">
                <label>編號 (id):</label>
                <input type="number" th:field="*{id}" class="form-control" >
            </div>
            <div class="form-group">
                <label>姓名 (name):</label>
                <input type="text" th:field="*{name}" class="form-control" >
            </div>

            <div class="form-group">
                <label>年齡(Age):</label>
                <input type="number" th:field="*{age}" class="form-control" min="0" max="100">
            </div>
            <input type="submit" class="btn btn-success"/>
        </form>
    </div>
</div>
</body>
<script>

</script>
</html>
